
     <!--   -->
     <h5>My Requests</h5>
     <br/> 
     
     <div class="col-md-12 grid-margin stretch-card">
    <div class="row">
                
                
        <div class="col"*ngFor="let request of requests">

        <div class="card">
  <div class="content">
    <div class="back">
      <div class="back-content">
    
        <img class="img-fluid" src="http://127.0.0.1/img/{{request.clubImage}}" alt="" style="object-fit: cover; width: 300px; height: 290px;">
        <strong>{{request.clubName}}</strong>
      </div>
    </div>
    <div class="front">
      
      <div class="img">
        <div class="circle">
        </div>
        <div class="circle" id="right">
        </div>
        <div class="circle" id="bottom">
        </div>
      </div>

      <div class="front-content">
        <small class="badge">{{request.clubName}}</small>
        <br/>
        
       
      
          <h1 [ngStyle]="{
                    'background-color': request.status === Status.REJECTED ? 'red' :
                                        request.status === Status.APPROVED ? 'green' : 'blue',
                    'color': 'white'
                  }">{{ Status[request.status] }}</h1>
            
            <svg fill-rule="nonzero" height="15px" width="15px" viewBox="0,0,256,256" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g style="mix-blend-mode: normal" text-anchor="none" font-size="none" font-weight="none" font-family="none" stroke-dashoffset="0" stroke-dasharray="" stroke-miterlimit="10" stroke-linejoin="miter" stroke-linecap="butt" stroke-width="1" stroke="none" fill-rule="nonzero" fill="#20c997"><g transform="scale(8,8)"><path d="M25,27l-9,-6.75l-9,6.75v-23h18z"></path></g></g></svg>
          </div>
      
        
      </div>
    </div>
  </div>
</div>
</div></div>
