<div class="row w-100 mx-0 auth-page">
    <div class="col-md-8 col-xl-6 mx-auto">
      <div class="card">
        <div class="row">
          <div class="col-md-12">
            <div class="auth-form-wrapper px-4 py-5">
              <a routerLink="." class="nobleui-logo d-block mb-2">CLUB<span>HIVE</span></a>
              <h5 class="text-muted fw-normal mb-4">Reset Password</h5>
  
              <div *ngIf="successMessage" class="alert alert-success">
                {{ successMessage }}
              </div>
              
              <div *ngIf="errorMessage" class="alert alert-danger">
                {{ errorMessage }}
              </div>

              <div *ngIf="isFormVisible">

              <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" class="forms-sample">
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" class="form-control" id="password" formControlName="password" placeholder="New Password">
                </div>
  
                <div>
                  <button type="submit" class="btn btn-primary me-2 mb-2 mb-md-0 w-100">Reset Password</button>
                </div>
                <a routerLink="/auth/login" class="d-block mt-3 text-muted">Remember your password? Sign in</a>
              </form>

            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  