.button-background {
    display: flex;
    justify-content: center;
    //background-color: #f8f9fa; /* Change this to your desired color */
    padding: 10px;
    border-radius: 5px;
    margin-left: 30px;
}