
<div class="container-fluid bg-primary py-5 mb-5 page-header">
  <div class="container py-5">
      <div class="row justify-content-center">
          <div class="col-lg-10 text-center">
              <h1 class="display-3 text-white animated slideInDown">Events</h1>
              <nav aria-label="breadcrumb">
              </nav>
          </div>
      </div>
  </div>
</div>
<div class="alert alert-success" role="alert" *ngIf="participationSuccess">
  User participated successfully
</div>
<!-- Header End -->
<div class="card-container">

  
  
<body *ngFor="let event of events" >

    <div class="card-hover">
      <div class="card-hover__content">
        <h3 class="card-hover__title">
            {{event.eventTitle}}
        </h3>
        <p class="card-hover__text">{{event.eventDescription}}</p>
        
        
        <a class="card-hover__link" (click)="openScrollableModal(content, event)">
          <!-- <a class="card-hover__link" (click)="confirmParticipation(event.id)"> -->
          <span>Participate</span>
         
          <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
          </svg>        
        </a>
      </div>

      
      <div class="card-hover__extra">
      
       
      </div>
      <img [src]="event.imageUrl" alt="Event image">
      <div class="price-circle">Price: {{event.price}}</div>
    </div>
    
  </body>

</div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">This event is not free</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Please click the link below to proceed.</p>
      <button (click)="openNewWindow()">Proceed</button>
    </div>
  </ng-template>



  