<div class="col-lg-10 container">
    <h1 class="mt-4">Generate a Test</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Tests/Generate</li>
    </ol>
    <div class="d-flex align-items-center mb-3">
        <span class="mr-3">
            <img src="https://openquizzdb.org/media/pics/logo_v3_disp.png" alt="OpenQuizzDB Logo" style="height: 75px;">
        </span>
        <span style="font-size: 1.2rem; font-weight: bold;">Customize your quiz:</span>
    </div>
    <form [formGroup]="apiform">
        <div class="row">
            <div class="col-lg-6 mb-4">
                <label for="api_lang" style="color: #007bff; font-weight: bold;">Language:</label>
                <select formControlName="langue" class="form-control" style="background-color: #f8f9fa;">
                    <option value="fr" SELECT>Français</option>
                    <option value="en">Anglais</option>
                    <option value="de">Allemand</option>
                    <option value="es">Espagnol</option>
                    <option value="it">Italien</option>
                    <option value="nl">Néerlandais</option>
                </select>
            </div>
            <div class="col-lg-6 mb-4">
                <label for="api_nb_choix" style="color: #007bff; font-weight: bold;">Number of Choices:</label>
                <input formControlName="choix" class="form-control" type="number" min="2" max="4" style="background-color: #f8f9fa;">
            </div>
            <div class="col-lg-6 mb-4">
                <label for="api_categ" style="color: #007bff; font-weight: bold;">Category:</label>
                <select formControlName="categorie" class="form-control" style="background-color: #f8f9fa;">
                    <option value="0" SELECT>Toutes les catégories</option>
                <option value="animaux">Animaux</option>
                <option value="archeologie">Archéologie</option>
                <option value="arts">Arts</option>
                <option value="bd">Bande dessinée</option>
                <option value="celebrites">Célébrités</option>
                <option value="cinema">Cinéma</option>
                <option value="culture">Culture générale</option>
                <option value="gastronomie">Gastronomie</option>
                <option value="geographie">Géographie</option>
                <option value="histoire">Histoire</option>
                <option value="informatique">Informatique</option>
                <option value="internet">Internet</option>
                <option value="litterature">Littérature</option>
                <option value="loisirs">Loisirs</option>
                <option value="musique">Musique</option>
                <option value="nature">Nature</option>
                <option value="monde">Pays du monde</option>
                <option value="sciences">Sciences</option>
                <option value="sports">Sports</option>
                <option value="television">Télévision</option>
                <option value="tourisme">Tourisme</option>
                <option value="quotidien">Vie quotidienne</option>
                </select>
            </div>
            <div class="col-lg-6 mb-4">
                <label for="api_diff" style="color: #007bff; font-weight: bold;">Difficulty:</label>
                <select formControlName="difficulte" class="form-control" style="background-color: #f8f9fa;">
                    <option value="0" SELECT>Toutes les difficultés</option>
                    <option value="1">Débutant</option>
                    <option value="2">Confirmé</option>
                    <option value="3">Expert</option>
                </select>
            </div>
            <div class="col-lg-12 mb-4">
                <label style="color: #007bff; font-weight: bold;">Number of Questions: </label><label style="color: #6a00ff; font-weight: bold; margin-left: 5px; font-size: 20px;" > {{ selectedValue }}</label>
                <input formControlName="nbrquestions" type="range" min="5" max="30" (input)="updateValue($event)"
                    class="form-range">
            </div>
            <div class="col-lg-6 mb-4">
                <label for="api_anec" style="color: #007bff; font-weight: bold;">Include Anecdote:</label>
                <select formControlName="anecdote" class="form-control" style="background-color: #f8f9fa;">
                    <option value="0" SELECT>Non</option>
                <option value="1">Oui</option>
                </select>
            </div>
            <div class="col-lg-6 mb-4">
                <label for="api_wiki" style="color: #007bff; font-weight: bold;">Include Wikipedia Link:</label>
                <select formControlName="wikipedia" class="form-control" style="background-color: #f8f9fa;">
                    <option value="0" SELECT>Non</option>
                <option value="1">Oui</option>
                </select>
            </div>
            <div class="col-lg-12 mb-4">
                <span style="color: red; font-weight: bold;">*</span> <span style="font-size: 0.9rem;">Required parameter</span>
            </div>
            <div class="col-lg-12 mt-3">
                <button class="btn btn-success" (click)="test()">Generate</button>
                <div *ngIf="spinner" class="middle-position">
                    <div class="spinner-border text-danger" role="status">
                        <span class="visually-hidden">Loading...</span>
                      </div>
                <!--<mat-spinner color="warn"></mat-spinner>-->
            </div>
            </div>
        </div>
    </form>
</div>
